{%include "header.html"%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">

      <!-- Introduction Row -->
      <h1 style="background-color:#ADFF2F " class="my-4">About Us
        <small>It's Nice to Meet You!</small>
      </h1>
      <p><h2>What is bigbasket.com</h2>
bigbasket.com (Innovative Retail Concepts Private Limited) is India’s largest online food and grocery store. With over 18,000 products and over a 1000 brands in our catalogue you will find everything you are looking for. Right from fresh Fruits and Vegetables, Rice and Dals, Spices and Seasonings to Packaged products, Beverages, Personal care products, Meats – we have it all.
Choose from a wide range of options in every category, exclusively handpicked to help you find the best quality available at the lowest prices. Select a time slot for delivery and your order will be delivered right to your doorstep, anywhere in Bangalore, Hyderabad, Mumbai, Pune, Chennai, Delhi, Noida, Mysore, Coimbatore, Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar, Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat, Nagpur, Patna, Indore and Chandigarh Tricity You can pay online using your debit / credit card or by cash / sodexo on delivery.
We guarantee on time delivery, and the best quality!</p>
<h3>Happy Shopping!!!
 </h3>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 style="background-color:#ADFF2F "class="my-4">Our Developers</h2>
        </div>
        <div class="col-lg-12 col-sm-12 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/static/images/me.png" alt="">
          <h3><strong>Darshan Patil</strong>
            <small>Developer</small>
          </h3>
        </div>
    </div>